%h1 KanbanStyle

%p Select a project to see its Kanban board:

%ul.project-list
  - @projects.each do |project|
    %a.project-list-link{href: project_path(project.id)}
      %li.col1.project-list-item
        = project.name

%div.clear

