- content_for :navbar_content do
  %li
    %a{href: projects_path} All Projects

.container-fluid
  %h4 Select a project to see its Kanban board

  .projects-loading
    %span.fa.fa-spinner.fa-spin
    Loading...

  - @projects.each_slice((@projects.length/3).floor+1) do |group|
    .list-group.col-third
      - group.each do |project|
        %a.list-group-item.project-list-item{href: project_path(project.id)}
          = project.name

  %div.clear

