.header
  %a.crumb{href: projects_path} All Projects
  \/
  %span#project-name.crumb.project-name= @presenter.project.name

- @presenter.streams.each do |stream_name, stories|
  = render partial: 'stream', locals: { stream_name: stream_name, stories: stories }
%div.clear

