- content_for :navbar_content do
  %li
    %a{href: projects_path} All Projects
  %li
    %a#project-name.project-name{href: ''}= @presenter.project.name

.container-fluid
  - @presenter.streams.each do |stream_name, stories|
    = render partial: 'stream', locals: { presenter: @presenter.stream_presenter(stream_name, stories) }
  %div.clear

