$pad: 5px;
$doublePad: $pad * 2;
$quadPad: $pad * 4;
$tightPad: 3px;

// shared layout -----------

.col-third {
  width: 30%;
  float: left;
  padding-right: $doublePad;
}

.navbar {
  margin-bottom: 0;
  background-color: #3299BB;
  border-width: 0;
}

// Override bootstrap navbar item text colour (is there a nicer way to do this?)
.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand {
  color: white;
}

// Override bootstrap navbar item text colour (is there a nicer way to do this?)
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-brand:hover {
  text-decoration: underline;
}
