// Page ----------

.stream {
  padding: 0px;
}

.stream-name, .story, .date-bar {
  padding: $pad $doublePad;
}

.footer {
  font-size: small;
  padding: $pad $doublePad;
}

.main {
  background-color: white;
  padding: $pad;
}

.stream-name {
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

.stream-done { background-color: #9DCE5C; }
.stream-in_progress { background-color: #C7EB6E; }
.stream-todo { background-color: #E5E5E5; }

.stream-loading, .stream-empty {
  padding: $doublePad;
}

.stream-empty {
  color: darkgray;
}

.story {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  min-height: 80px;
  padding-bottom: $doublePad;
}

.story-name {
  color: black;
}

.story-owner {
  padding-top: $pad;
  font-size: 70%;
  color: #444041;
}

.story-label {
  font-size: 60%;
  background-color: rgba(0,0,0, 0.4);
  color: white;
  padding: $tightPad;
}

.date-bar {
  background-color: rgba(0, 0, 0, 0.2);
}

.header {
  padding: $doublePad;
}
.crumb {
  font-size: 100%;
  color: #444041;
}

.project-list {
  list-style: none;
}

.project-list-link {
  color: black;
}

.project-list-item {
  background-color: lightgray;
  padding: $doublePad;
  margin: $pad $doublePad $pad 0;
}

.project-list-item:hover {
  background-color: #9DCE5C;
}
