.stream {
  font-size: 280%;
}

.stream + .stream {
  border-left: 1px solid #f0f0f0;
  padding-left: $quadPad;
  margin-left: $quadPad;
}

.stream-name {
  text-transform: uppercase;
  margin: $doublePad 0;
}

.stream-loading {
  font-size: x-large;
}

.date-bar {
  color: white;
  padding: $pad;
  margin: $pad -$pad;
  background-color: #3299BB;
}

.date-bar + .story {
  border-top: 0;
}

.story {
  padding: $pad 0px;
  color: #424242;
  margin: 0 0 $quadPad;
  border-top: 2px dotted #3299BB;
  word-wrap: break-word;
}

.story-name {
  color: #424242;
}

.story-heading {
  line-height: 1.1;
  padding-bottom: $pad;
}

.story-body {
  font-size: 60%;
}

.story-labels {
  font-size: 80%;
  padding: $pad 0;
}

.story-label {
  background-color: rgba(0,0,0, 0.1);
  color: black;
  padding: 1px 4px;
  margin: $pad 0;
}

.story-owner {
  color: rgb(128, 128, 128);
  padding-right: $pad;
}

